.button {
  align-items: center;
  background: var(--button-background-color);
  border-radius: var(--border-radius);
  color: var(--button-text-color);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0.0625rem 0.125rem 0.25rem rgb(0 0 0 / 0.25));
  font-family: var(--font-family-display);
  gap: 0.25rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.0625rem;
  line-height: var(--line-height-display);
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-shadow: 0 0 0.125rem rgb(0 0 0 / 0.3333333333);
  transition: var(--transition);

  &:last-child {
    margin-bottom: 0;
  }

  &:active {
    filter: unset;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    display: inline-flex;

    &:hover {
      background-color: var(--button-background-color-hover);
    }
  }
}
