@use "sass:math";

html {
  font-size: 18px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 400 1rem / var(--line-height) var(--font-family);
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

svg {
  fill: currentcolor;
  height: 1rem;
  width: auto;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
