@use "sass:color";
@use "sass:math";

:root {
  --background-color: #ffffff;
  --background-color-secondary: hsl(240 12.5% 93.75%);
  --border-color: hsl(240 12.5% 87.5%);
  --border-radius: 0.5rem;
  --button-background-color: hsl(120 50% 43.75%);
  --button-background-color-hover: #{color.scale(hsl(120 50% 43.75%), $lightness: 12.5%)};
  --button-text-color: #ffffff;
  --button-text-color-hover: transparent;
  --font-family: "Inter", sans-serif;
  --font-family-display: "Inter Tight", sans-serif;
  --font-size-h1: 1.587401rem;
  --font-size-h1-large: 4rem;
  --font-size-h2: 1.259921rem;
  --font-size-h2-large: 1.587401rem;
  --font-size-h3: 1rem;
  --font-size-h3-large: 1.259921rem;
  --font-size-small: 0.793701rem;
  --footer-background-color: hsl(240 12.5% 87.5%);
  --line-height: 1.587401;
  --line-height-display: 1.259921;
  --link-color: hsl(210 100% 43.75%);
  --link-color-hover: #{color.scale(hsl(210 100% 43.75%), $lightness: 12.5%)};
  --section-rotate: rotateZ(#{math.div(-1turn, math.pow(2, 7))});
  --section-rotate-secondary: rotateZ(#{math.div(1turn, math.pow(2, 7))});
  --text-color: hsl(240 12.5% 12.5%);
  --text-color-secondary: #ffffff;
  --transition: 250ms ease-out;
}
