@use "sass:math";
@use "./variables" as var;

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: local("Inter"), url("../fonts/Inter-VariableFont_opsz,wght.ttf") format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: local("Inter"), url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format(truetype) tech(variations);
}

*,
::before,
::after {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --background: #{var.$background};
  --background-secondary: #{var.$background-secondary};
  --text-color: #{var.$text-color};
  --text-color-secondary: #{var.$text-color-secondary};
  --font-family: #{var.$font-family};
  /* header */
  --header-background: #{var.$header-background};
  --header-background-large: #{var.$header-background-large};
  /* section */
  --section-rotate: #{var.$section-rotate};
  --section-rotate-secondary: #{var.$section-rotate-secondary};
  /* link */
  --link-text-color: #{var.$link-text-color};
  --link-hover-text-color: #{var.$link-hover-text-color};
  /* button */
  --button-background: #{var.$button-background};
  --button-hover-background: #{var.$button-hover-background};
  --button-text-color: #{var.$button-text-color};
  --button-hover-text-color: #{var.$button-hover-text-color};
  /* border */
  --border-color: #{var.$border-color};
  /* footer */
  --footer-background: #{var.$footer-background};
}

html {
  font-size: 18px;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font: 400 1rem / 1.5 var(--font-family);
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section__container {
  align-self: center;
  grid-column: 2 / 5;
  max-width: 960px;
  padding: 0 1rem;
  width: 100%;
  z-index: 1;
}

header {
  background: var(--header-background) center / cover no-repeat;
  color: var(--text-color-secondary);
  overflow: hidden;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    background-color: var(--background);
    bottom: -8rem;
    height: 8rem;
    left: 0;
    position: absolute;
    transform: var(--section-rotate);
    transform-origin: 0% 0%;
    width: 112.5%;
    z-index: 2;
  }

  .section__container {
    background-color: rgb(0 0 0 / 0.5);
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

main section {
  overflow: hidden;
  position: relative;

  &:nth-child(odd) {
    padding: 2rem 0 4rem;
  }

  &:nth-child(odd)::before {
    content: "";
    background-color: var(--background-secondary);
    bottom: -8rem;
    height: 8rem;
    right: 0;
    position: absolute;
    transform: var(--section-rotate-secondary);
    transform-origin: 100% 0%;
    width: 112.5%;
  }

  &:nth-child(even) {
    background-color: var(--background-secondary);
    padding: 2rem 0;
  }
}

h1,
h2,
p,
li {
  margin-bottom: 1rem;
}

h1:last-child,
h2:last-child,
p:last-child,
li:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.lead {
  font-size: 1.125rem;
  font-weight: 500;
}

.small {
  font-size: 0.75rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

.button {
  background: var(--button-background);
  border-radius: 0.5rem;
  color: var(--button-text-color);
  cursor: pointer;
  display: block;
  filter: drop-shadow(0.0625rem 0.125rem 0.25rem rgb(0 0 0 / 0.25));
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 1.25;
  padding: 1rem 2rem;
  text-align: center;
  text-shadow: 0 0 0.125rem rgb(0 0 0 / 0.3333333333);

  &:active {
    filter: unset;
  }

  &:active::before {
    background-color: var(--button-background);
  }
}

svg {
  fill: currentcolor;
  height: 1rem;
  width: auto;
}

#photo {
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto 1rem;
  max-width: 240px;
  width: 75%;
}

ul {
  list-style: none;
}

footer {
  background-color: var(--footer-background);
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    background-color: var(--background-secondary);
    top: -8rem;
    height: 8rem;
    right: 0;
    mix-blend-mode: multiply;
    position: absolute;
    transform: var(--section-rotate);
    transform-origin: 100% 100%;
    width: 112.5%;
  }
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;

  li {
    margin-bottom: 0;
  }

  a {
    align-items: center;
    display: flex;
    gap: 0.25rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }

  header {
    background-image: var(--header-background-large);

    .section__container {
      padding-bottom: 8rem;
      padding-top: 8rem;
    }
  }

  main section {
    &:nth-child(odd) {
      padding: 4rem 0 8rem;
    }

    &:nth-child(even) {
      padding: 4rem 0;
    }
  }

  h1 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  a,
  .button,
  .button::before {
    transition: 250ms ease-out;
  }

  a:hover {
    color: var(--link-hover-text-color);
  }

  .button {
    display: inline-block;
    overflow: hidden;
    position: relative;

    &:hover {
      background-color: var(--button-hover-background);
      color: var(--button-hover-text-color);
      text-shadow: 0 0 0.125rem rgb(0 0 0 / 0);
    }

    &::before {
      align-items: center;
      color: var(--text-color-secondary);
      content: "OBAAA!!!";
      display: flex;
      font-weight: 500;
      height: 100%;
      justify-content: center;
      left: 0;
      opacity: 0;
      position: absolute;
      text-shadow: 0 0 0.125rem rgb(0 0 0 / 0);
      top: 0;
      transform: scale(8);
      width: 100%;
    }

    &:hover::before {
      opacity: 1;
      text-shadow: 0 0 0.125rem rgb(0 0 0 / 0.3333333333);
      transform: scale(1);
    }
  }

  .grid-3 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-3__col-1 {
    grid-column: 1 / 2;
  }

  .grid-3__col-2 {
    grid-column: 2 / 4;
  }

  footer {
    padding: 4rem 0 2rem;
  }
}
